<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenkesj.voice"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.facebook.react" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
